* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  font-family: 'DM Mono', monospace;
  box-sizing: border-box;
  color: #C9C9C9;
}