main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    width: 44.9rem;
    height: 46.1rem;
    box-shadow: 0px 4px 20px 10px #00000026;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .title {
    width: 36.9rem;
    height: 7.8rem;
    margin: 4rem;
    display: flex;
    gap: 1.75rem;
    align-items: center;
}

main section .title h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 3.2rem;
    color: #18E395;
}

main section form {
    width: 36.9rem;
    height: 26.3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3.2rem;
}

main section form .inputs {
    width: 36.9rem;
    height: 18.8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px; 
}

main section form .inputs input {
    width: 100%;
    border: .15rem solid #CCCCCC;
    padding: .8rem;
    font-size: 1.6rem; 
    height: 3.5rem;
}

main section form .inputs input::placeholder{
    color: #BFBCBC;
}

main section form .inputs > div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: .8rem;
}

main section form .inputs > div:last-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
}

main section form .inputs > div input {
    box-sizing: border-box;
}

main section form button {
    background-color: #18E395;
    padding: 1.2rem 1.6rem;
    width: 11.4rem;
    height: 4.3rem;
    border-radius: .2rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    cursor: pointer;
}
