main {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/background.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section .form-container {
    background-color: white;
    border: .4rem solid #000;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

main section .form-container .signup-container {
    margin-top: 6.7rem;
    width: 37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .form-container .signup-container form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 36.9rem;
    margin-bottom: 3.6rem;
}


main section .form-container .signup-container form h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 4.2rem;
}

main section .form-container form input {
    border: .3rem solid #000;
    padding: 1.45rem .8rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    height: 4.8rem;
}


main section .form-container .signup-container form .birthdate-container .birthdate-selects{
    margin-top: .4rem;
    display: flex;
    gap: 1.5rem;
}

main section .form-container .signup-container form .birthdate-container .birthdate-selects select {
    border-radius: .5rem;
    border: .3rem solid #000;
    width: 8.2rem;
    height: 4.8rem;
    padding: .8rem;
}

main section .form-container .signup-container form .birthdate-container .birthdate-selects :nth-child(2) {
    flex: 1;
}

main section .form-container .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37rem;
}

main section .form-container .form-footer a{
    color: #000;
    font-size: 1.2rem;
    text-decoration: underline;
}

main section .form-container .form-footer strong{
    font-weight: bold;
    font-size: 1.2rem;
}

main section .form-container .form-footer button {
    background-color: #000;
    padding: .8rem;
    color: #FFF;
    font-size: 1.6rem;
    width: 14rem;
    cursor: pointer;
}



main section .image-container {
    width: 56.2rem;
    height: 73.2rem;
}

main section .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

