main {
    height: 100vh;
    width: 100vw;
    background-image: url(./images/background.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section .form-container {
    background-color: white;
    border: .4rem solid #000;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .form-container form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 36.9rem;
    margin-bottom: 3.6rem;

}

main section .form-container .form-logo {
    margin-top: 4.7rem;
    margin-bottom: 5.3rem;
}

main section .form-container form h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

main section .form-container form input {
    border: .3rem solid #000;
    padding: 1.45rem .8rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    height: 4.8rem;

}

main section .form-container form .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section .form-container form .form-footer a {
    color: #000;
    font-size: 1.2rem;
    text-decoration: underline;
}

main section .form-container form .form-footer strong {
    font-weight: bold;
    font-size: 1.2rem;
}

main section .form-container form .form-footer button {
    background-color: #000;
    padding: .8rem 4.55rem;
    color: #FFF;
    font-size: 1.6rem;
    width: 14rem;
    cursor: pointer;
}

main section .form-container .form-separator {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    width: 36.9rem;
}

main section .form-container .form-separator hr {
    border-top: .1rem solid #ACACAC;
    flex: 1;
}

main section .form-container .form-separator span {
    color: #ACACAC;
    font-size: 1.2rem;
}

main section .form-social-login {
    margin-top: 3.6rem;
    display: flex;
    width: 26.3rem;
    column-gap: 1.5rem;
}

main section .form-social-login div {
    border: .1rem solid #ACACAC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 12.4rem;
    height: 12.4rem;
}

main section .image-container {
    width: 56.2rem;
    height: 73.2rem;
}

main section .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}